.sidebar , ul{

    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items:flex-start ;
    flex-basis: 0;
    padding:0px;
    padding-top: 0px;

}
h2{
  font-size: larger;
  text-align: center;

}
.facebook{

    vertical-align: middle;
    padding-top: 30px;
    padding: 20px;
    width: 0px;
    height: 0px;
    border-radius: 50%;
}

.linkedin{
    vertical-align: middle;
    padding-top: 30px;
    padding: 20px;
    width: 0px;
    height: 0px;
    border-radius: 50%;

}
.twitter{

    vertical-align: top;
    padding-top: 30px;
    padding: 15px;
    width: 0px;
    height: 0px;
    border-radius: 50%;
}